<nav class="navbar is-dark is-fixed-top" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            {% if site.logo == "" or site.logo == nil %}
                <strong>{{ site.title }}</strong>
            {% else %}
                <img src="{{ site.logo }}" alt="{{ site.title }}">
            {% endif %}
        </a>

        <a class="navbar-burger" data-target="navbar-menu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start has-text-weight-medium">
            <a class="navbar-item" href="{% if page.layout == 'front-page' %}/#{% else %}/{% endif %}">
                Home
            </a>
            <a class="navbar-item" href="/#games">
                Games
            </a>
            <a class="navbar-item" href="/#news">
                News
            </a>
            <a class="navbar-item" href="/#about">
                About
            </a>
        </div>

        <div class="navbar-end">
            {% unless site.facebook-username == "" or site.facebook-username == nil %}
                <a class="navbar-item" href="https://facebook.com/{{ site.facebook-username }}" target="_blank">
                    <img src="/assets/images/icons/facebook.svg" alt="Facebook">
                </a>
            {% endunless %}
            {% unless site.youtube-username == "" or site.youtube-username == nil %}
                <a class="navbar-item" href="https://youtube.com/@{{ site.youtube-username }}" target="_blank">
                    <img src="/assets/images/icons/youtube.svg" alt="YouTube">
                </a>
            {% endunless %}
            {% unless site.twitter-username == "" or site.twitter-username == nil %}
                <a class="navbar-item" href="https://x.com/{{ site.twitter-username }}" target="_blank">
                    <img src="/assets/images/icons/twitter.svg" alt="X">
                </a>
            {% endunless %}
        </div>
    </div>
</nav>
