<section class="hero is-fullheight has-text-centered" id="home">
    <div class="hero-body">
        <div class="container">
            <!-- Name -->
            <h1 class="title is-size-1 has-text-white">
                {{site.title}}
            </h1>

            <!-- Tagline -->
            <p class="subtitle is-size-4 has-text-white">
                {{site.tagline}}
            </p>

            <hr>

            <!-- Call-to-Action Button -->
            <a href="/#games" class="button is-link is-medium mt-5">Explore Our Games</a>
        </div>
    </div>
</section>