---
layout: compress
---
<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include navbar.html %}

        <section id="home" class="hero is-fullheight has-text-centered">
            <div class="hero-body">
                <div class="container">
                    <!-- Name -->
                    <h1 class="title is-size-1 has-text-white">
                        {{ site.title }}
                    </h1>
        
                    <!-- Tagline -->
                    <p class="subtitle is-size-4 has-text-white">
                        {{ site.tagline }}
                    </p>
        
                    <hr class="is-centered">
        
                    <!-- Call-to-Action Button -->
                    <a class="button mt-5 is-medium is-link is-uppercase" href="/#games">
                        Explore Our Games
                    </a>
                </div>
            </div>
        </section>

        <section id="games" class="section">
            <div class="container">
                <!-- Heading -->
                <h1 class="title mt-5 is-size-2 has-text-centered">
                    Our Games
                </h1>
                <hr>
        
                <!-- Game Cards -->
                <div class="columns is-multiline is-justify-content-center">
                    {% for game in site.games %}
                        <div class="column is-one-third">
                            <div class="card">
                                <a href="{{ game.url }}">
                                    <!-- Image -->
                                    <figure class="image is-4by3">
                                        <img src="{{ game.thumbnail }}" alt="Thumbnail of {{ game.title }}">
                                    </figure>
        
                                    <div class="card-content has-text-centered">
                                        <!-- Title -->
                                        <h2 class="title is-size-4">
                                            {{ game.title }}
                                        </h2>
        
                                        <!-- Description -->
                                        <p class="subtitle is-size-6">
                                            {{ game.short-description }}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section id="news" class="section">
            <div class="container">
                <!-- Heading -->
                <h1 class="title mt-5 is-size-2 has-text-centered">
                    News
                </h1>
                <hr>
        
                <!-- Post Cards -->
                <div class="columns is-multiline is-justify-content-center">
                    {% for post in site.posts limit: 4 %}
                        <div class="column is-half">
                            <div class="card">
                                <a href="{{ post.url }}">
                                    <div class="card-content">
                                        <!-- Thumbnail -->
                                        <figure class="image is-16by9">
                                            <img src="{{ post.thumbnail }}" alt="Thumbnail of {{ post.title }}">
                                        </figure>

                                        <!-- Title -->
                                        <h2 class="title mt-5 is-size-4">
                                            {{ post.title }}
                                        </h2>

                                        <!-- Publish Date -->
                                        <p class="subtitle is-size-6 has-text-grey">
                                            {{ post.date | date: "%B %d, %Y" }}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        
                <!-- Button -->
                <div class="has-text-centered">
                    <p class="is-size-5">
                        Looking for more?
                    </p>
                    <a class="button mt-2 is-medium is-link is-uppercase" href="/news">
                        Read All News
                    </a>
                </div>
            </div>
        </section>

        <section id="about" class="section">
            <div class="container">
                <!-- Heading -->
                <div class="hero mt-5 is-small is-light">
                    <div class="hero-body">
                        <div class="container has-text-centered">
                            <h1 class="title is-size-2">
                                About Us
                            </h1>
                            <p class="subtitle is-size-5 has-text-grey">
                                Where Innovation Meets Play.
                            </p>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Information Section -->
                <p class="is-size-5">
                    Sirius Game Studio is an independent gaming company based in Bangladesh. As an
                    one-person team, we strive to create fun and engaging games for the players.
                </p>
                <br>
                <p class="is-size-6">
                    Founded in 2015 by Wasik Farhan Roopkotha and Cynthia Farheen Risha, our mission
                    is to provide high-quality games that are accessible to everyone. We believe that
                    games should be a source of joy and relaxation, and we aim to deliver that
                    experience through our games. Our team is passionate about creating games that
                    are not only entertaining but also challenging and rewarding.
                </p>
                <br>
                <p class="is-size-6">
                    This company was originally called "Roopkotha Studio" but was later rebranded to
                    "Sirius Game Studio" in 2022. The name is inspired by the brightest star in the
                    sky, Sirius, which symbolizes our commitment to excellence and innovation.
                    <strong>Note that we are not an official company.</strong>
                </p>
                <hr>

                <!-- Team Section -->
                <div class="has-text-centered">
                    <h2 class="title is-size-3">
                        Meet Our Team
                    </h2>

                    <div class="columns is-multiline is-justify-content-center mt-5">
                        {% for member in site.data.team %}
                            <div class="column is-one-third">
                                <div class="box">
                                    <!-- Image -->
                                    <figure class="image is-128x128 is-inline-block">
                                        <img class="is-rounded" src="{{ member.image }}" alt="Image of {{ member.name }}">
                                    </figure>

                                    <!-- Name -->
                                    <h3 class="title mt-3 is-size-4">
                                        {{ member.name }}
                                    </h3>

                                    <!-- Role -->
                                    <p class="subtitle is-size-6 has-text-grey">
                                        {{ member.role }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>

                <!-- Contact Section -->
                <div class="has-text-centered">
                    <h2 class="title is-size-3">
                        Get In Touch
                    </h2>
                    <p class="is-size-5 has-text-grey">
                        Got questions or just want to say hello? We'd love to hear from you!
                    </p>
                    <a href="/contact" class="button mt-4 is-medium is-link is-uppercase">
                        Contact Us
                    </a>
                </div>
            </div>
        </section>

        {% include footer.html %}
    </body>
</html>